.title-box-large {
    width: 40%;
    display: flex;
    align-items: right;
    justify-content: right;
}
.title-box-large-location {
    width: 40%;
    display: flex;
    align-items: right;
    justify-content: right;
}
.white-container {
    background-color: whitesmoke;
    width: 50%;
    border-radius: 3%;
    font-size: 20pt;
    line-height: 40pt;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    padding: 3%;
}
.white-container-mobile {
    background-color: whitesmoke;
    width: 50%;
    border-radius: 3%;
    font-size: 20pt;
    line-height: 40pt;
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    padding: 3%;
}
.black-container-mobile {
    display: none;
}
.img-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-item {
    width: 400px;
    display: inline;
}
.img-item > img {
    width: 350px;
    height: 227px;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}
.title-box {
    color: white;
    font-size: 22pt;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title-item {
    width: 400px;
    display: inline;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: rebeccapurple;
}
.list-box {
    color: white;
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-item ul li {
    width: 400px;
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 20pt;
    margin-top: 20px;
    text-align: left;
}
.title-box-2 {
    color: white;
    font-size: 22pt;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title-item-2 {
    width: 400px;
    display: inline;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: yellowgreen;
    font-size: 30pt;
}
#CEO {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30pt;
    background-color: tomato;
    margin-left: 42vw;
    margin-bottom: 20px;
}
.title-box-3 {
    color: white;
    font-size: 22pt;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title-item-3 {
    width: 400px;
    display: inline;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: orange;
    font-size: 26pt;
}
.list-item-3 {
    width: 400px;
    display: inline;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 22pt;
    text-align: center;
}
.google-map {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.google-map > img {
    width: 48%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-container {
    width: 100%;
    height: 700px;
}
#map {
    width: 50%;
    height: 80%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25vw;
    margin-top: 10vw;
}
/* Macbook 13' 1440px */

/* 1024x768px */

@media screen and (max-width: 1024px) {
    .img-box {
        width: 1024px;
    }
    .img-box img {
        width: 250px;
        height: 200px;
    }
    .list-box {
        width: 1024px;
    }
    .title-item {
        font-size: 22px !important;
    }
    .list-item ul li {
        width: 250px;
        font-size: 19px !important;
    }
    .list-item-3 {
        font-size: 19px;
    }
    .google-map img {
        width: 800px;
        height: 400px;
    }
}

/* iPad 768x1024px */

@media screen and (max-width: 768px) {
    .white-container {
        font-size: 17px;
        line-height: 19pt;
    }
    .img-box {
        width: 768px;
    }
    .img-box img {
        width: 190px;
        height: 160px;
    }
    .list-box {
        width: 768px;
    }
    .title-item {
        font-size: 22px !important;
    }
    .list-item ul li {
        width: 190px;
        font-size: 14px !important;
        justify-content: center;
    }
    .title-item-3 span {
        font-size: 20px;
    }
    .title-box-2 span {
        width: 190px;
    }
    .list-item-3 {
        font-size: 17px;
    }
    .google-map img {
        width: 768px;
        height: 400px;
    }
}

/* iphone XS 414x896 */

@media screen and (max-width: 414px) {
    body {
        margin-left: 10px;
    }
    .white-container {
        font-size: 17px;
        line-height: 19pt;
        width: 320px;
        margin: 0;
    }
    .white-container-mobile {
        display: block;
        font-size: 17px;
        line-height: 19pt;
        width: 320px;
        margin: 0;
        background-color: white;
        border-radius: 14%;
        align-items: center;
    }
    .black-container-mobile {
        display: block;
        font-size: 17px;
        line-height: 19pt;
        width: 320px;
        margin: 20px;
        color: whitesmoke;
        border-radius: 14%;
        align-items: center;
    }
    .title-box-large {
        width: 150px;
    }
    .title-box-large h1 {
        font-size: 20px;
    }
    .img-box {
        width: 768px;
    }
    .img-box img {
        display: none;       
    }
    .list-box {
        width: 768px;
    }
    .title-item {
        font-size: 18px !important;
        display: none;
    }
    .list-item ul li {
        width: 190px;
        font-size: 14px !important;
        justify-content: center;
        display: none;
    }
    .title-item-2 span {
        font-size: 18px;
    }
    .title-item-3 span {
        font-size: 13px;
        line-height: 10pt;
    }
    .list-box {
        display: none;
    }
    .title-box-2 span {
        width: 190px;
    }
    .list-item-3 {
        font-size: 17px;
    }
    #CEO {
        font-size: 20px;
    }
    .google-map {
        display: none;
    }
    .google-map img {
        display: none;
    }
    .title-box-large-location span {
        background-color: salmon;
        display: none;
    }
    .empty-space {
        width: 100%;
        height: 30px !important;
    }
}

/* Galaxy S9 360x740 */

@media screen and (max-width: 360px) {
    body {
        margin-left: 10px;
    }
    .white-container {
        font-size: 17px;
        line-height: 19pt;
        width: 320px;
        margin: 0;
    }
    .white-container-mobile {
        display: block;
        font-size: 17px;
        line-height: 19pt;
        width: 320px;
        margin: 0;
        background-color: white;
        border-radius: 14%;
        align-items: center;
    }
    .black-container-mobile {
        display: block;
        font-size: 17px;
        line-height: 19pt;
        width: 320px;
        margin: 20px;
        color: whitesmoke;
        border-radius: 14%;
        align-items: center;
    }
    .title-box-large {
        width: 150px;
    }
    .title-box-large h1 {
        font-size: 20px;
    }
    .img-box {
        width: 768px;
    }
    .img-box img {
        display: none;       
    }
    .list-box {
        width: 768px;
    }
    .title-item {
        font-size: 18px !important;
        display: none;
    }
    .list-item ul li {
        width: 190px;
        font-size: 14px !important;
        justify-content: center;
        display: none;
    }
    .title-item-2 span {
        font-size: 18px;
    }
    .title-item-3 span {
        font-size: 13px;
        line-height: 10pt;
    }
    .list-box {
        display: none;
    }
    .title-box-2 span {
        width: 190px;
    }
    .list-item-3 {
        font-size: 17px;
    }
    #CEO {
        font-size: 20px;
    }
    .google-map {
        display: none;
    }
    .google-map img {
        display: none;
    }
    .title-box-large-location span {
        background-color: salmon;
        display: none;
    }
    .empty-space {
        width: 100%;
        height: 30px !important;
    }
}

/* iphone6 375x667 */

@media screen and (max-width: 375px) {
    body {
        margin-left: 10px;
    }
    .white-container {
        font-size: 17px;
        line-height: 19pt;
        width: 320px;
        margin: 0;
    }
    .title-box-large {
        width: 150px;
    }
    .title-box-large h1 {
        font-size: 20px;
    }
    .img-box {
        width: 768px;
    }
    .img-box img {
        display: none;       
    }
    .list-box {
        width: 768px;
    }
    .title-item {
        font-size: 18px !important;
    }
    .list-item ul li {
        width: 190px;
        font-size: 14px !important;
        justify-content: center;
        display: none;
    }
    .title-item-2 span {
        font-size: 18px;
    }
    .title-item-3 span {
        font-size: 13px;
        line-height: 10pt;
    }
    .list-box {
        display: none;
    }
    .title-box-2 span {
        width: 190px;
    }
    .list-item-3 {
        font-size: 17px;
    }
    #CEO {
        font-size: 20px;
    }
    .google-map {
        display: none;
    }
    .google-map img {
        display: none;
    }
    .title-box-large-location span {
        background-color: salmon;
        display: none;
    }
    .empty-space {
        width: 100%;
        height: 30px !important;
    }
}