.picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.picture-container figcaption {
    font-size: 23pt;
    color: white;
    text-align: center;
}
.title-box-medium {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 40%;
    line-height: 30pt;
    background-color: sandybrown;
}
.title-box-large > h1 {
    margin-left: 40px;
}
.picture-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10vw;
}
.picture-container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.picture-container2 figcaption {
    font-size: 20pt;
    color: white;
    text-align: center;
}
.black-container #pilot2 {
    width: 800px;
}
.black-container figcaption {
    margin-left: 3vw;
    color: whitesmoke;
}
.black-container iframe {
    width: 800px;
    height: 500px;
}
.black-container {
    background-color: black;
    width: 50%;
    border-radius: 3%;
    font-size: 20pt;
    line-height: 40pt;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    padding: 3%;
}
.picture-container3 > img {
    width: 1024px;
}

/* Macbook 13' 1440px */

@media screen and (max-width: 1440px) {
    
    .title-box-large > h1 {
        font-size: 28pt;
        display: inline;
        width: 1000px;
        margin-left: 20px;
    }
    .title-box-medium {
        margin-left: 10px;
    }
    .title-box-medium > h2 {
        font-size: 15pt;
    }
    
}

/* ipad 1024px 가로모드 */

@media screen and (max-width: 1024px) {

    .title-box-large > h1 {
        font-size: 24pt;
        display: inline;
        width: 1000px;
        margin-left: 20px;
    }
    .picture-container2 {
        margin-left: 60px;
    }
}


/* ipad 768px 세로모드 */

@media screen and (max-width: 768px) {

    body {
        margin-left: 5px;
    }
    .title-box-large > h1 {
        font-size: 19pt;
        display: inline;
        width: 1000px;
        margin-left: 20px;
    }
    figure > img {
        width: 700px;
    }
    .picture-container2 > figure > img {
        width: 500px;
        margin-left: 380px;
    }
    .picture-container2 > figure > figcaption {
        font-size: 12pt;
        margin-left: 450px;
    }
    .picture-container2 > iframe {
        width: 750px;
        margin-left: 100px;
        align-items: center;
    }
    .picture-container3 img {
        width: 750px;
    }
}

/* iphone XS 414px */

/* @media screen and (max-width: 414px) {

    .title-box-large > h1 {
        font-size: 15pt;
        display: inline;
        width: 1000px;
        margin-left: 20px;
    }
    .title-box-medium {
        margin-top: 15px;
    }
    .title-box-medium > h2 {
        font-size: 10pt;
        line-height: 20px;
    }
    figure > img {
        width: 400px;
    }
    .picture-container > figure > figcaption {
        font-size: 19px;
    }
    .picture-container2 > figure > img {
        width: 350px;
        margin-left: 380px;
    }
    .picture-container2 > figure > figcaption {
        font-size: 12pt;
        margin-left: 450px;
    }
    .picture-container2 > iframe {
        width: 450px;
        align-items: left;
        justify-content: left;
        margin-right: 30px;
    }
} */

/* iPhone6 375x667 가로모드 */

@media screen and (max-width: 667px) {

    body {
        margin-left: 5px;
    }
    .title-box-large > h1 {
        font-size: 15pt;
        display: inline;
        width: 1000px;
        margin-left: 20px;
    }
    .title-box-medium > h2 {
        font-size: 11pt;
        line-height: 20px;
    }
    figure > img {
        width: 600px;
    }
    .black-container > figure > #pilot2 {
        width: 70vw;
        height: 60vw;
    }
    .picture-container2 > figure > img {
        width: 500px;
        margin-left: 380px;
    }
    .black-container > figure > figcaption {
        font-size: 12pt;
        margin-left: 450px;
        display: none;
    }
    .black-container > iframe {
        width: 70vw;
        height: 50vw;
    }
    .picture-container3 img {
        width: 90vw;
    }
}

/* iPhone6 375x667 세로모드 */

@media screen and (max-width: 375px) {

    .title-box-large > h1 {
        font-size: 15pt;
        display: inline;
        width: 1000px;
        margin-left: 20px;
    }
    .title-box-medium {
        margin-top: 15px;
    }
    .title-box-medium > h2 {
        font-size: 10pt;
        line-height: 20px;
    }
    figure > img {
        width: 330px;
    }
    .picture-container > figure > figcaption {
        font-size: 15px;
        line-height: 2px;
    }
    .black-container > figure > img {
        width: 300px;
        height: 300px;
        margin-left: 0;
    }
    .black-container #pilot2 {
        width: 300px;
        height: 300px;
        behavior: url(PIE.htc);
    }
    .black-container figcaption {
        font-size: 8pt;
        margin-left: 0px;
        line-height: 10pt;
        margin-top: -100px;
    }
    .black-container > iframe {
        width: 350px !important;
        height: 300px !important;
        margin-left: 0;
    }
    .black-container {
        height: fit-content;
    }
    .picture-container img {
        width: 300px !important;
    }
    .black-container {
        margin-left: 20vw;
        height: 300px;
    }
    .picture-container3 img {
        width: 300px;
        object-fit: cover;
        -moz-width: 300px;
        -webkit-width: 300px;
        -ms-width: 300px;
        -o-width: 300px;
        /* behavior: url(PIE.htc); */
    }
}